
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <p>We're going to have an exciting party!</p>
    <p>
        <a asp-action="RsvpForm">RSVP Now</a>
    </p>
</body>
</html>
